* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, rgb(0, 0, 84), rgb(203, 0, 0));
}

h1 {
    color: rgb(230, 230, 230);
    font-size: 3rem;
    border: 2px solid rgb(230, 230, 230);
}

.botonEstilizado {
    text-transform: uppercase;
    color: black;
    background-color: rgb(150, 147, 142);
    display: flex;
}

.botonEstilizado:hover {
    color: blanchedalmond;
    background-color: rgb(44, 38, 38);
}

.imagenProducto {
    width: 15rem;
    height: 15rem;
    object-fit: contain;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    object-fit: contain;
}

.cardText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: rgb(230, 230, 230);
}

#cajaProductos {
    border-bottom: 2px solid rgb(230, 230, 230);
}

.descripcionProducto {
    height: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
}

